
<h1>News Feed:</h1>
<% get_data("highvalue") %>
<% @result.each do |result| %>
	<% page = MetaInspector.new(result) %>
	<% unless page.title == nil %>
		<%= link_to page.title, result %>

		<%= image_tag(page.image, :size => "100x100") unless page.image == nil %>
	<% end %>
	<br />
<% end %>
 

<div class="image_tile">
</div>

