<h1>News Feed:</h1>
<% get_data("toplinks") %>
<br />
<b>Top phrases</b>
<br /><br />
<% @result.each do |result| %>
<%= result['phrase'] %>
<br /><br />
<% end %>
<br />
<%= #@result.methods 
%>

<h3>Settings:</h3>

